<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBlMC-Xw_Dc3Xjr1lCxrM0xbZr79pUz_fo</string>
	<key>GCM_SENDER_ID</key>
	<string>772702756793</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myproject</string>
	<key>PROJECT_ID</key>
	<string>myproject-334f7</string>
	<key>STORAGE_BUCKET</key>
	<string>myproject-334f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:772702756793:ios:033e3c5939e8dce43f2068</string>
	<key>DATABASE_URL</key>
	<string>https://myproject-334f7-default-rtdb.firebaseio.com</string>
</dict>
</plist>